/* === START CSS RESET === https://andy-bell.co.uk/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
p {
  margin: 0;
  margin-block: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* === END CSS RESET === */

/* COMPOSITION */
body {
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  position: relative;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  flex-shrink: 0;
  border-radius: 15px;
  overflow: hidden;
  z-index: 2;
}

.profile-photo-container {
  position: relative;
}

.card-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 145px;
  padding-top: calc(24px + var(--profile-photo-size) / 2);
  padding-bottom: 28px;
}

.card-stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 54px 24px 47px;
}

.card-stats-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* UTILITIES */
:root {
  --white: #ffffff;
  --dark-blue-1: #19a1ae;
  --dark-gray-1: #2e3349;
  --light-gray-1: #6b7082;
  --light-gray-2: #e8e9ec;
  --profile-photo-size: 96px;
  --profile-photo-border: 5px;
  --card-height: 374px;
}

.bg-primary {
  background-color: var(--dark-blue-1);
}

.bg-secondary {
  background-color: var(--white);
}

.bg-shadow-deep {
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.5);
}

.card-stats-display > * + * {
  margin-top: 5px;
}

/* BLOCK */
.card__top-pattern {
  display: block;
  min-height: 140px;
}

.card__profile-photo {
  box-sizing: content-box;
  width: var(--profile-photo-size);
  height: var(--profile-photo-size);
  flex-shrink: 0;
  border: var(--profile-photo-border) solid var(--white);
  border-radius: 96px;
  position: absolute;
  top: calc((var(--profile-photo-size) / -2) - var(--profile-photo-border));
  left: calc(
    ((var(--card-width) - var(--profile-photo-size)) / 2) -
      var(--profile-photo-border)
  );
}

.card-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-user__name {
  color: var(--dark-gray-1);
  font-size: 18px;
  font-weight: 700;
  margin-right: 8.5px;
}

.card-user__age {
  color: var(--light-gray-1);
  font-size: 18px;
  font-weight: 400;
}

.card-user__location {
  color: var(--light-gray-1);
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
}

.card__ruler {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background-color: var(--light-gray-2);
}

.card-stats__count {
  color: var(--dark-gray-1);
  font-size: 18px;
  font-weight: 700;
}

.card-stats__text {
  color: var(--light-gray-1);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

/* EXCEPTIONS */
@media (width > 375px) {
  :root {
    --card-width: 350px;
  }

  .background {
    width: 1440px;
    height: 720px;
  }

  .background-container {
    width: 1381.68px;
    height: 1381.68px;
  }

  .background-top {
    right: 545.16px;
    bottom: 50.16px;
  }

  .background-bottom {
    left: 490.16px;
    top: 173.16px;
  }
}

@media (width <= 375px) {
  :root {
    --card-width: 326px;
  }

  .background {
    width: 375px;
    height: 667px;
  }

  .background-container {
    width: 878.94px;
    height: 878.94px;
  }

  .background-container > * {
    transform: scale(0.64, 0.64);
  }

  .background-top {
    right: 34.53px;
    bottom: 272.03px;
  }

  .background-bottom {
    left: 36.53px;
    top: 228.03px;
  }
}
